<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Analysis - Slice Chess</title>

        <!--Sets Character Set-->
        <meta charset="utf-8">

        <!--Declaring of device desplay setings-->
        <meta name="veiewport" content="width=device-width, inital-scale=1">

        <link
            href="static\img/LMfavicon-32x32.png"
            rel="icon"
            type="image/png"
            sizes="32x32"
            media="(prefers-color-scheme: light)"
        />
        <link
            href="static\img/DMfavicon-32x32.png"
            rel="icon"
            type="image/png"
            sizes="32x32"
            media="(prefers-color-scheme: dark)"
        />

        <link rel="stylesheet" href="/static/css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono&family=Jost:wght@300&display=swap" rel="stylesheet">
        
        <script src="/static/js/webjs.js" type="module"></script>

         <!-- JQuery -->
         <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
         <!-- Bootstrap -->
         <link rel="stylesheet" href="/static/css/bootstrap.min.css">
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
     
         <!-- chessjs -->
         <script src="/static/js/chess.js"></script>
     
         <!-- chessboardjs -->
         <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
         <script src="/static/js/chessboard-1.0.0.min.js"></script>
     
         <!-- Analytics -->
         <script type="text/javascript">
             $.post('https://maksimkorzh.pythonanywhere.com/analytics/api/post', {
                 date: new Date,
                 url: window.location.href
         });
        </script>
    </head>

    <!--prevents right click menu opening when the button is pressed to mark a tile-->
    <body>
        <div class="banner">
            <div class="navbar">
                

                <a href="/static/index.html"><h1><img src="static\img/LogoVector.svg" alt="Slice Chess Logo" style="float:left;width:6rem;height:6rem;">Slice Chess</h1></a>
                
            
                <ul>
                    
                    <li><a href="/static/tactics.html">Tactics</a></li>
                    <li><a href="Analysis.html">Analysis</a></li>
                    <li><a href="/static/Play.html">Play</a></li>
                    <li><a href="https://github.com/MrStark7797/Chess-Engine">Github Code</a></li>
                </ul>
            </div>
        </div>
        <div id="ScoreBar" class="mx-auto mb-2"><div id="ScoreSlider"></div></div>
        
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="card mt-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <!-- chess board view -->
                      <div id="chess_board" class="mx-auto mb-2" style="width: 400px;"></div>
    
                      <!-- game controls -->
                      <div class="row mx-auto mb-2" style="width: 400px;">
                        <!-- game status -->
                        <strong class="mx-auto mb-2"><div id="status"></div></strong>
    
                        <!-- FEN -->
                        <div class="input-group mb-3">
                          <input id="fen" type="text" class="form-control">
                          <div class="input-group-append">
                            <button id="set_fen" class="btn btn-outline-success">Set FEN</button>
                          </div>
                        </div>
    
                        <!-- strength controls -->
                        <div class="input-group mb-3">
                          <select id="move_time" class="form-control mr-2">
                            <option value="0">N/A</option>
                            <option value="instant" selected>Instant response</option>
                            <option value="1">1 sec</option>
                            <option value="2">2 sec</option>
                            <option value="3">3 sec</option>
                            <option value="4">4 sec</option>
                            <option value="5">5 sec</option>
                            <option value="6">6 sec</option>
                            <option value="7">7 sec</option>
                            <option value="8">8 sec</option>
                            <option value="9">9 sec</option>
                            <option value="10">10 sec</option>
                          </select>
                          <select id="fixed_depth" class="form-control ml-2">
                            <option value="0">N/A</option>
                            <option value="1">1 ply</option>
                            <option value="2">2 ply</option>
                            <option value="3">3 ply</option>
                            <option value="4">4 ply</option>
                            <option value="5">5 ply</option>
                            <option value="6">6 ply</option>
                            <option value="7">7 ply</option>
                            <option value="8">8 ply</option>
                            <option value="9">9 ply</option>
                            <option value="10">10 ply</option>
                            <option value="11">11 ply</option>
                            <option value="12">12 ply</option>
                          </select>
                        </div>
    
                        <!-- -buttons -->
                        <div class="btn-group">
                          <button id="new_game" class="btn btn-outline-secondary">New game</button>
                          <button id="make_move" class="btn btn-outline-secondary">Make move</button>
                          <button id="take_back" class="btn btn-outline-secondary">Take back</button>
                          <button id="flip_board" class="btn btn-outline-secondary">Flip board</button>
                        </div>
    
                      </div>
                    </div>
                    <div class="col ml-4">
                      <!-- engine info -->
                      <div class="col"><img src="static/img/LogoVector.svg" width="64" height="64" ></img></div>
                      <div class="col-8">  
                        <p class="lead font-weight-normal mt-3">
                        <strong>Slice V1.0</strong>
                        <br>
                        UCI chess engine by William Starkie
                        </p>
                      </div>
                      <hr>
    
                      <!-- info -->
                      
    
                      <!-- game info -->
                      <table class="table text-center mt-4">
                        <thead>
                          <tr>
                            <th>Score</th>
                            <th>Depth</th>
                            <th>Time</th>
                            <th>Nodes</th>
                            <th>Knps</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><strong id="score" class="text-danger"></strong></td>
                            <td id="depth"></td>
                            <td id="time"></td>
                            <td id="nodes"></td>
                            <td id="knps"></td>
                          <tr>
                        </tbody>
                      </table>
    
                      <hr>
    
                      <!-- PGN output -->
                      <div class="mt-2"><strong>PGN:</strong></div>
                      <div id="pgn"></div>
    
                      <!-- download button -->
                      <button id="download_button" class="btn btn-success mt-2">Download</button>
    
                      <!-- download link -->
                      <a id="download_link" href="" download="" hidden>your pgn</a>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <!-- links -->
                  <div class="input-group mt-2 mb-3">
                    <!-- <a href="https://github.com/MKJM2/lishex-mcts" class="btn btn-primary mx-auto ml-2">LishexMCTS source code</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
<script>
  // NOTE: this example uses the chess.js library:
  // https://github.com/jhlywa/chess.js

  var board = null
  var game = new Chess()
  var $status = $('#status')
  var $fen = $('#fen')
  var $pgn = $('#pgn')

  function onDragStart (source, piece, position, orientation) {
    // do not pick up pieces if the game is over
    if (game.game_over()) return false

    // only pick up pieces for the side to move
    if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
      return false
    }
  }

  function onDrop (source, target) {
    // see if the move is legal
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q' // NOTE: always promote to a queen for example simplicity
    })

    // illegal move
    if (move === null) return 'snapback'

    updateStatus()
  }

  // update the board position after the piece snap
  // for castling, en passant, pawn promotion
  function onSnapEnd () {
    board.position(game.fen())
  }

  function updateStatus () {
    var status = ''

    var moveColor = 'White'
    if (game.turn() === 'b') {
      moveColor = 'Black'
    }

    // checkmate?
    if (game.in_checkmate()) {
      status = 'Game over, ' + moveColor + ' is in checkmate.'
    }

    // draw?
    else if (game.in_draw()) {
      status = 'Game over, drawn position'
    }

    // game still on
    else {
      status = moveColor + ' to move'

      // check?
      if (game.in_check()) {
        status += ', ' + moveColor + ' is in check'
      }
    }

    $status.html(status)
    $fen.html(game.fen())
    $pgn.html(game.pgn())
  }

  var config = {
    draggable: true,
    position: 'start',
    onDragStart: onDragStart,
    onDrop: onDrop,
    onSnapEnd: onSnapEnd
  }
  board = Chessboard('chess_board', config)

  updateStatus()
</script>